<fieldset>
    <legend>Contracts</legend>
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-info" ui-sref="sites.contracts.new({siteId: contractController.$stateParams.siteId})"><i class="fa fa-plus">Add new Contract</i></a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table ng-table="contractController.contractTable" class="table table-striped table-hover table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>{{'Contract.Columns.StartDate' | translate}}</th>
                            <th>{{'Contract.Columns.EndDate' | translate}}</th>
                            <th>{{'Contract.Columns.ContractType' | translate}}</th>
                            <th>{{'Contract.Columns.BillingRate' | translate}}</th>
                            <th>{{'Contract.Columns.BillingFrequency' | translate}}</th>
                            <th>{{'Contract.Columns.NightTimeRateIncrease' | translate}}</th>
                            <th>{{'Contract.Columns.SundayRateIncrease' | translate}}</th>
                            <th>{{'Contract.Columns.PublicHolidayRateIncrease' | translate}}</th>
                            <th>{{'Contract.Columns.AssignmentType' | translate}}</th>
                            <th>{{'Contract.Columns.IsActive' | translate}}</th>
                            <th class="text-nowrap"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="$data.length <= 0" class="warning">
                            <td colspan="12">
                                <div uib-alert class="alert-warning">
                                    <i class="fa fa-warning"></i>
                                    No results found
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="c in $data">
                            <td class="text-nowrap" data-ng-bind="c.startDate|date:'mediumDate'"></td>
                            <td class="text-nowrap" data-ng-bind="c.endDate|date:'mediumDate'"></td>
                            <td data-ng-bind="c.contractType.typeName"></td>
                            <td data-ng-bind="c.billingRate"></td>
                            <td data-ng-bind="c.billingFrequency.frequency"></td>
                            <td ng-if="c.nightTimeRateIncrease" class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td ng-if="!c.nightTimeRateIncrease" class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td ng-if="c.sundayRateIncrease" class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td ng-if="!c.sundayRateIncrease" class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td ng-if="c.publicHolidayRateIncrease" class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td ng-if="!c.publicHolidayRateIncrease" class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td data-ng-bind="c.assignmentType.typeName"></td>
                            <td ng-if="c.isActive" class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td ng-if="!c.isActive" class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                            <td class="text-nowrap">
                                <button class="btn btn-success" ng-click="contractController.assignToEmployee(c)">
                                    <i class="fa fa-user"></i>
                                </button>
                                <a class="btn btn-info" ui-sref="sites.contracts.assignedList({contractId: c.id})">
                                    <i class="fa fa-eye "></i>
                                </a>
                                <a class="btn btn-warning" ng-disabled="contractController.disableInvoiceCreateButton(c)" ng-click="contractController.createContractInvoice(c)">
                                    <i class="fa fa-book "></i>
                                </a>
                                <a class="btn btn-primary" ui-sref="sites.contracts.edit({contractId: c.id})">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                                <button class="btn btn-danger" ng-click="contractController.deleteContract(c)">
                                    <i class="fa fa-times "></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</fieldset>
